*{
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

img {
    width: 100%;
    margin: 1.4;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

header .wrapper {
    display: flex;
    max-width: 940px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

span {
    display: flex;
    justify-content: left;
    color: #fff;
}
    
header nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 0;
    
}

nav ul li a:link {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
}

#hero {
    height: 600px;
    background-image:url(../images/hands-typing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    max-width: 60%;
    background-color: #00000083;
    color: #fff;
    font-size: 3rem;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
    padding: 20px;
}

#about-me {
    display: flex;
    max-width: 940px;
    justify-content: center;
    align-items: center;

}

.about-me-wrapper {
    max-width: 940px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.about-me-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    margin: 0 auto;
}

.about-me-img {
    margin: 100px 0 0 100px;
    padding: 0;
    border: 0;
    width: 30%;
    height: 10%;
}


#services {
    background-color: #fafafa;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

/* #services .wrapper {
    max-width: 940px;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
    margin: 0 auto;
    padding: 1em;
} */

#services h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40pt;
}

#services .article-list {
    display: grid;
    flex-direction: row;
    gap: 50px;
    max-width: 940px;
    background-color: #fafafa;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .service-1 {
    border: 10px;
    padding: 0 20px 80px 20px;
    flex-direction: column;
}

.service-2 {
    background-color: white;
    padding: 0 20px 20px 20px;
}

.service-3 {
    background-color: white;
    padding: 0 20px 20px 20px;
} */

#services a:link,
#services a:visited {
    display: inline-block;
    padding: .8em 1em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 4px;
    margin-top: auto ;
}

#services section {
background-color: grey;
padding: 2em 0;
}

.wrapper {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 40px;
}
    
.wrapper article h3 {
    max-width: 600px;
    text-align: center;
    margin-bottom: 0;
}

.wrapper article p {
    padding-bottom: 2em;
}

.wrapper a:link,
.wrapper a:visited {
  display: inline-block;
  padding: .8em 1em;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 4px;

  margin-top: auto;

}

.wrapper a:hover,
.wrapper a:focus {
  background-color: #fff;
  color: grey;
}


#work .wrapper{
    max-width: 940px;
    text-align: center;
}

#work h2,
#work p{
    max-width: 0 auto;
    text-align: center;
    max-width: 600px;
    padding-bottom: 20px;
}

#work h2{
    padding-top: 40px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img1 img1 img1 img2 img2 img2"
    "img3 img3 img4 img4 img5 img5"
    ;
}

.gallery img:nth-child(1){
    grid-area: img1;
}

.gallery img:nth-child(2){
    grid-area: img2;
}

.gallery img:nth-child(3){
    grid-area: img3;
}

.gallery img:nth-child(4){
    grid-area: img4;
}
.gallery img:nth-child(5){
    grid-area: img5;
}


.grid-1{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

footer{
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 15px;
}